table{
  margin-left: auto;
  margin-right: auto;
}
table,th,td{
    border: 2px solid rgb(20, 10, 10);
  }
th,td{
  padding: 15px;
}
body {
  background-color: lightgreen;
  font-family: 'Helvetica', serif;
  color:rgb(12, 104, 99)
}
h1{
  text-align: center;
  font-size: 80px;
  color:black;
}
h2{
  font-size: 30px;
}
a{
  background-color: yellow;
}
td{
  background-color: white;
}
th{
  background-color: brown;
}
th{
  color: white;
}