<!DOCTYPE html>
<html>

<head>
    <title>Medium</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<style>
    h3 {
        text-align: center;
        color: aliceblue;
    }

    body {
        background-color: black;
    }
    /* button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #92b8cf;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background-color: #0666a3;
    } */

</style>

<body>
    <h3><br></br></br></br>
        To create a google meets link, Click on this button<br></br><button>
          <a href="https://meet.google.com/">Click</a>
        </button>
    </h3>
    <br></br></br></br>
    <h3>
        To send the link copied, Click on this button
        <br></br>
        <button>
          <a href="/medout/">Click</a>
        </button>
    </h3>
</body>

</html>